.head-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}
.tittle{
    background-color: rgb(0, 255, 162);
    padding: 50px;
    
}
.head{
    color: blue;
    font-size: 40px;
    text-align: center;
    background-color: blanchedalmond;
}
#first{
    color: rgb(255, 0, 153);
    font-size: 25px;
    background-color: rgb(127, 105, 149);
    text-align: justify;
}
p{
    font-size: 30px;
}
h5{
    font-size:20px
}
button{
    font-size: 30px;
    background-color: aqua;
    border-radius: 8px;
}
#Backup{
    padding: 50px;
    background-color: aquamarine;
    color: rgb(0, 0, 255);
    width: fit-content;
    text-align: center;
}
#Backup h1{
    font-size: 20px;
    padding: 5px;
    border-bottom: solid;
    width: fit-content;
    text-align: center;
}
#application{
    padding: 50px;
    background-color: rgb(146, 230, 146);
}
#empty{
    background-color: aquamarine;
    padding: 50px;
}